
						<div class="uk-width-1-3@m">
							<h4 class="uk-heading-line uk-text-bold"><span>Archive</span></h4>
							<ul class="uk-list">
								<li><a href="">March</a></li>
								<li><a href="">February</a></li>
								<li><a href="">January</a></li>
								<li><a href="">December <small>(2017)</small></a></li>
								<li><a href="">November <small>(2017)</small></a></li>
								<li><a href="">October <small>(2017)</small></a></li>
								<li><a href="">September <small>(2017)</small></a></li>
								<li><a href="">August <small>(2017)</small></a></li>
							</ul>
							<h4 class="uk-heading-line uk-text-bold"><span>About Us</span></h4>
							<div class="uk-tile uk-tile-small uk-tile-muted uk-border-rounded">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/CONTENT-->
			
		