<div class="container">
    <div class="row">
        <div class="col">
            <h1>Spinning Surf Rappers!</h1>
            <img src="/images/surfer.jpg"/>
            <h2>Under Construction</h2>
            <a href="/test">Show me the test JSON</a>
        </div>
    </div>
</div>