
{{!-- 
 <style>
     body
 { background: 
     url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    background-size: cover;
}
 </style> 
<a href="#offcanvas-slide" class="uk-button uk-button-default" uk-toggle>Welcome to Twitter Motions</a>
<h2 class = "user-name"></h2>
<div id="offcanvas-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
           
            <li uk-toggle="target: #my-id" type="button">Log In</li>
            <li uk-toggle="target: #my-id1" type="button">Sign up</li>
            <br>
            <li class="uk-active"><a href="#">About</a></li>
            <br>
            <li class="uk-active"><a href="#">The Team</a></li>
            <li class="uk-active"><a href="https://aishucr.github.io/New_profile/"> Gayathri Chandra Sekar </a></li>
            <li class="uk-active"><a href="https://jmatt21.github.io/My-Portfolio/">Matthew Bertrandt</a></li>
            <li class="uk-active"><a href="https://renatawattier.github.io/portfolio/.">Renata Wattier</a></li>
            <li class="uk-active"><a href="https://shanechambry.com">Shane Chambry</a></li>
            </ul>
<a class="uk-button uk-button-primary" href="#target" uk-scroll>Scroll down</a> --}}


{{!-- <button class="uk-button uk-button-default uk-margin-bottom" type="button" uk-toggle="target: +">Toggle YouTube Video</button> --}}

<iframe src="https://player.vimeo.com/video/147055409?title=0&portrait=0&byline=0&autoplay=1&loop=1" width="560" height="315" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
