body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: coral;
}
a {
  color: #00B7FF;
}
#heading{
  background-color: black;
  color: aquamarine;
}
.arc text{
  font-family: sans-serif;
  font: 12px;
  text-anchor: middle;
}
